:root {
  --ff-primary: 'Helvetica';


  --color-1: #2C302E;
  --color-2: #4ECDC4;
  --color-3: #E1A968;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 4rem;
  --fs-h4: 3rem;

  --fs-p1: 1rem;
  --fs-p2: 1rem;
  --fs-p3: 1rem;

  --fw-reg: 400;
  --fw-bold: 700;
}

@media (min-width: 800px) {
  :root{
    --fs-h1: 8.5rem;
    --fs-h2: 6.25rem;
    --fs-h3: 9.5rem;
    --fs-h4: 6rem;
    --fs-p1: 2rem;
    --fs-p2: 1rem;
    --fs-p3: 1rem;
  }
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C302E;
  font-size: var(--fs-p1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}

h1,
h2 {
  margin: 0;
  color: white;
}

p {color: white}

hr {
  color: white;
}


